#
# pin constraints
#
NET BTNs_4Bits_TRI_IO[0] LOC = "R18"  |  IOSTANDARD = "LVCMOS33";
NET BTNs_4Bits_TRI_IO[1] LOC = "P16"  |  IOSTANDARD = "LVCMOS33";
NET BTNs_4Bits_TRI_IO[2] LOC = "V16"  |  IOSTANDARD = "LVCMOS33";
NET BTNs_4Bits_TRI_IO[3] LOC = "Y16"  |  IOSTANDARD = "LVCMOS33";
NET SWs_4Bits_TRI_IO[0] LOC = "G15"  |  IOSTANDARD = "LVCMOS33";
NET SWs_4Bits_TRI_IO[1] LOC = "P15"  |  IOSTANDARD = "LVCMOS33";
NET SWs_4Bits_TRI_IO[2] LOC = "W13"  |  IOSTANDARD = "LVCMOS33";
NET SWs_4Bits_TRI_IO[3] LOC = "T16"  |  IOSTANDARD = "LVCMOS33";
#
# additional constraints
#

##NET "hdmi_rx_0_SYSCLK_pin"        LOC=L16 | IOSTANDARD=LVCMOS33; #IO_L11P_T1_SRCC_35

NET hdmi_rx_0_LED_pin[0] LOC = "M14"  |  IOSTANDARD = "LVCMOS33";
NET hdmi_rx_0_LED_pin[1] LOC = "M15"  |  IOSTANDARD = "LVCMOS33";
NET hdmi_rx_0_LED_pin[2] LOC = "G14"  |  IOSTANDARD = "LVCMOS33";
NET hdmi_rx_0_LED_pin[3] LOC = "D18"  |  IOSTANDARD = "LVCMOS33";


NET "hdmi_rx_0_HDMI_CLK_N"    LOC=H17 | IOSTANDARD=TMDS_33; #IO_L13N_T2_MRCC_35
NET "hdmi_rx_0_HDMI_CLK_P"    LOC=H16 | IOSTANDARD=TMDS_33; #IO_L13P_T2_MRCC_35
NET "hdmi_rx_0_HDMI_D_N<0>"   LOC=D20 | IOSTANDARD=TMDS_33; #IO_L4N_T0_35
NET "hdmi_rx_0_HDMI_D_P<0>"   LOC=D19 | IOSTANDARD=TMDS_33; #IO_L4P_T0_35
NET "hdmi_rx_0_HDMI_D_N<1>"   LOC=B20 | IOSTANDARD=TMDS_33; #IO_L1N_T0_AD0N_35
NET "hdmi_rx_0_HDMI_D_P<1>"   LOC=C20 | IOSTANDARD=TMDS_33; #IO_L1P_T0_AD0P_35
NET "hdmi_rx_0_HDMI_D_N<2>"   LOC=A20 | IOSTANDARD=TMDS_33; #IO_L2N_T0_AD8N_35
NET "hdmi_rx_0_HDMI_D_P<2>"   LOC=B19 | IOSTANDARD=TMDS_33; #IO_L2P_T0_AD8P_35
NET "hdmi_rx_0_HDMI_HPD_pin"      LOC=E18 | IOSTANDARD=LVCMOS33; #IO_L5P_T0_AD9P_35
NET "hdmi_rx_0_HDMI_OUT_EN_pin"   LOC=F17 | IOSTANDARD=LVCMOS33; #IO_L6N_T0_VREF_35
NET "hdmi_rx_0_HDMI_SCL"      LOC=G17 | IOSTANDARD=LVCMOS33; #IO_L16P_T2_35
NET "hdmi_rx_0_HDMI_SDA"      LOC=G18 | IOSTANDARD=LVCMOS33; #IO_L16N_T2_35

NET "VGA_RED<0>"       LOC=M19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L7P_T1_AD2P_35
NET "VGA_RED<1>"       LOC=L20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L9N_T1_DQS_AD3N_35
NET "VGA_RED<2>"       LOC=J20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L17P_T2_AD5P_35
NET "VGA_RED<3>"       LOC=G20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L18N_T2_AD13N_35
NET "VGA_RED<4>"       LOC=F19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L15P_T2_DQS_AD12P_35

NET "VGA_GREEN<0>"       LOC=H18 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L14N_T2_AD4N_SRCC_35
NET "VGA_GREEN<1>"       LOC=N20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L14P_T2_SRCC_34
NET "VGA_GREEN<2>"       LOC=L19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L9P_T1_DQS_AD3P_35
NET "VGA_GREEN<3>"       LOC=J19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L10N_T1_AD11N_35
NET "VGA_GREEN<4>"       LOC=H20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L17N_T2_AD5N_35
NET "VGA_GREEN<5>"       LOC=F20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L15N_T2_DQS_AD12N_35

NET "VGA_BLUE<0>"       LOC=P20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L14N_T2_SRCC_34
NET "VGA_BLUE<1>"       LOC=M20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L7N_T1_AD2N_35
NET "VGA_BLUE<2>"       LOC=K19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L10P_T1_AD11P_35
NET "VGA_BLUE<3>"       LOC=J18 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L14P_T2_AD4P_SRCC_35
NET "VGA_BLUE<4>"       LOC=G19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L18P_T2_AD13P_35

NET "axi_linearfilter_0_VSYNC_O_pin"         LOC=R19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_0_34
NET "axi_linearfilter_0_HSYNC_O_pin"         LOC=P19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L13N_T2_MRCC_34


NET "hdmi_rx_0_HDMI_CLK_P" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 40000 kHz;

NET "hdmi_rx_0_JE_pin<0>"         LOC=V12 | IOSTANDARD=LVCMOS33; #IO_L4P_T0_34
NET "hdmi_rx_0_JE_pin<7>"        LOC=Y17 | IOSTANDARD=LVCMOS33; #IO_L7N_T1_34
NET "hdmi_rx_0_JE_pin<1>"         LOC=W16 | IOSTANDARD=LVCMOS33; #IO_L18N_T2_34
NET "hdmi_rx_0_JE_pin<2>"         LOC=J15 | IOSTANDARD=LVCMOS33; #IO_25_35
NET "hdmi_rx_0_JE_pin<3>"         LOC=H15 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_35
NET "hdmi_rx_0_JE_pin<4>"         LOC=V13 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_34
NET "hdmi_rx_0_JE_pin<5>"         LOC=U17 | IOSTANDARD=LVCMOS33; #IO_L9N_T1_DQS_34
NET "hdmi_rx_0_JE_pin<6>"         LOC=T17 | IOSTANDARD=LVCMOS33; #IO_L20P_T3_34

#
#
#NET axi_vdma_0_m_axis_mm2s_tready_pin LOC = "M14"  |  IOSTANDARD = "LVCMOS33";
#NET axi_vdma_0_m_axis_mm2s_tvalid_pin LOC = "M15"  |  IOSTANDARD = "LVCMOS33";
#NET axi_vdma_0_mm2s_buffer_almost_empty_pin LOC = "G14"  |  IOSTANDARD = "LVCMOS33";
#NET axi_vdma_0_mm2s_fsync_pin LOC = "D18"  |  IOSTANDARD = "LVCMOS33";
